.prodAlte h1 {
    color: #444444;
}

.prodAlte h1 span {
    color: #3c3c3d;
    font-weight: 900;
}
@media only screen and (max-width: 1148px){
    .prodAlte h1{
        font-size: 2.6vw;
    }
}
@media only screen and (max-width: 700px){
    .prodAlte h1{
        font-size: 4vw;
    }
}
.animateSlideUp{
    border-radius: 0px 0px 20px 20px;
}
.animateSlideUp:last-child {
    background: #3a3f48;
}

